*{
    box-sizing: border-box;
    font-family: 'Raleway',Sans-serif;
}

li{
    list-style: none;
}


/*DESKTOP VERSION*/

@media screen and (min-width:451px){
    body {
        background: url('https://images.unsplash.com/photo-1459876947801-8879713c9b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat fixed center;
        color: #fff;
        height: 1000px;
        width: 100%;
        background-size: cover;
        background-color: #110;
    }
    
    .heading-container{
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.80);
        margin-top: 20%;
    } 
    
    div.giphy-embed1{
       text-align: center;
       margin: 10% 0;
    }

    iframe{
        opacity: 0.90;
    }

    h2.correct-heading{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.70);
       }

    h2.incorrect-heading { 
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.70);
    }

    .starting-heading{
        width: 50%;
        height: 220px;
        font-size: 28px;
        line-height: 1.5;
        margin: 0 auto;
        
    }
    
    button.click-to-start-btn{ 
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
        margin: 0 auto;
    }

    button.next-question{
        pointer-events: none;
        opacity: 0.5;
    }
    
    .btn-flex-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .question-score-count-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 5%;
        background-color: rgba(0, 0, 0, 0.50);
    }

    .question-count{
        padding-right: 30px;
    }
    .question-section{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.40);
        height: auto;
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        line-height: 2.5;
        white-space: normal
    }

    section.options-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    ul.options-ul{
        padding: 3%;
        padding-top: 30px;
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        align-self: center;
    }

    .option-1,.option-2,.option-3,.option-4{
        background-color: rgba(1, 1, 1, 0.90);
        margin: 15px auto;
        padding: 20px;
        border-radius: 2%;
        width: 40%;
        font-weight: bold;
        font-size: 16px;
    }

    li {
        margin:  0 auto;
    }

    .next-ques-btn-container{
        display: flex;
        justify-content: center;
    }

    .next-question{
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }

    .final-score-container{
        margin-top: 25%; 
        width: 99.9%;
        height: 130px;
        background-color: rgba(1,1,1,0.8);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .play-again-container{
        display: flex;
        justify-content: center;
    }

    .play-again-btn{
        margin-top: 2%;
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }
}



/*Mobile Version*/

@media screen and (max-width:450px){

    body {
        background: url('https://images.unsplash.com/photo-1521985429101-21bed8b75e47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat fixed center;
        color: #fff;
        height: 700px;
    }

    div.heading-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .starting-heading{
        width: 250px;
        height: 220px;
        font-size: 28px;
        line-height: 1.5;
    }

    button.next-question{
        pointer-events: none;
        opacity: 0.5;
    }

    div.btn-flex-container{
        margin-top: 20%;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    button.click-to-start-btn{ 
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }

    .question-score-count-section{
        background-color: rgba(0, 0, 0, 0.20);
        font-size: 18px;
    }

    .question-count,.score-count{
        padding-left: 2%;
    }

    h3.question{
        padding: 3%;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.40);
        font-size: 24px;
    }

    ul.options-ul{
        padding: 3%;
        padding-top: 30px;
    }

    .option-1,.option-2,.option-3,.option-4{
        background-color: rgba(255, 255, 255, 0.50);
        margin: 15px;
        padding: 20px;
        border-radius: 2%;
    }

    .next-ques-btn-container{
        display: flex;
        justify-content: center;
    }

    .next-question{
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }

    .final-score-container{
        margin-top: 60%;
        width: 99.9%;
        height: 100px;
        background-color: rgba(255,255,255,0.3);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .play-again-container{
        display: flex;
        justify-content: center;
    }

    .play-again-btn{
        margin-top: 2%;
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }
    div.giphy-embed1{
        text-align: center;
        margin: 30% 0;
     }

     h2.correct-heading{
         padding-left: 5%;
         background-color: rgba(255, 255, 255, 0.20);
        }

    h2.incorrect-heading{
         padding-left: 5%;
         background-color: rgba(255, 255, 255, 0.20);
    }
 
     iframe{
         opacity: 0.85;
     }
}