*{
    box-sizing: border-box;
    font-family: 'Raleway',Sans-serif;
}

li{
    list-style: none;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

input:checked {
    border: 8px solid #fff;
}

/*DESKTOP VERSION*/

 @media screen and (min-width:451px){
    body {
        background: url('https://images.unsplash.com/photo-1459876947801-8879713c9b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat fixed center;
        color:#fff;
        height: auto;
        width: 100%;
        background-size: cover;
        background-color: #110;
    }
   
    .heading-container{
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.80);
        margin-top: 20%;
    } 
    
    div.giphy-embed1 {
       text-align: center;
       margin: 10% 0;
    }

    iframe{
        opacity: 0.90;
    }

    h2.correct-heading {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.70);
       }

    h2.incorrect-heading { 
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.70);
    }

    .starting-heading {
        width: 50%;
        height: 220px;
        font-size: 28px;
        line-height: 1.5;
        margin: 0 auto;
        
    }
    
    button.click-to-start-btn{ 
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
        margin: 0 auto;
    }

    .btn-flex-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .question-score-count-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 5%;
        background-color: rgba(0, 0, 0, 0.50);
    }

    .question-count{
        padding-right: 30px;
    }
    .question-section{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.40);
        height: auto;
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        line-height: 2.5;
        white-space: normal
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 0px;
    }

    /* div.label-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    label input{
        margin-left: 30%;
    }

    .answerOption{
        display: flex;
        align-items: center;
        padding: 2%;
        padding-top: 10px;
    }
    .option-1,.option-2,.option-3,.option-4{
        background-color: rgba(255, 255, 255, 0.50);
        width: 35%;
        margin: 0 0 0 5px;
        padding: 15px;
        border-radius: 2%;
        font-size: 20px;
    }

    input[type="radio"]{
        margin-top: 8px;
    }

    .next-ques-btn-container{
        display: flex;
        justify-content: center;
    }

    .next-question{
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }

    .final-score-container{
        margin-top: 25%; 
        width: 99.9%;
        height: 130px;
        background-color: rgba(1,1,1,0.8);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .play-again-container {
        display: flex;
        justify-content: center;
    }

    .play-again-btn{
        margin-top: 2%;
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }
}


/*Mobile Version*/

@media screen and (max-width:450px){

    body {
        background: url('https://images.unsplash.com/photo-1521985429101-21bed8b75e47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat fixed center;
        color: #fff;
        height: auto;
    }

    div.heading-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .starting-heading{
        width: 250px;
        height: 220px;
        font-size: 28px;
        line-height: 1.5;
    }
/*
    button.next-question{
        pointer-events: none;
        opacity: 0.5;
    }
*/

    div.btn-flex-container{
        margin-top: 20%;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    button.click-to-start-btn{ 
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }

    .question-score-count-section{
        background-color: rgba(0, 0, 0, 0.20);
        font-size: 18px;
    }

    .question-count,.score-count{
        padding-left: 2%;
    }

    h3.question{
        padding: 3%;
        padding-top: 30px;
        background-color: rgba(0, 0, 0, 0.40);
        font-size: 24px;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 0px;
    }
    .answerOption{
        display: flex;
        align-content: center;
        padding: 2%;
        padding-top: 10px;
    }
    .option-1,.option-2,.option-3,.option-4{
        background-color: rgba(255, 255, 255, 0.50);
        width: 90%;
        margin: 0 0 0 5px;
        padding: 15px;
        border-radius: 2%;
        font-size: 20px;
    }

    input[type="radio"]{
        margin-top: 16px;
    }
    .next-ques-btn-container{
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    .next-question{
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }


    .final-score-container{
        margin-top: 60%;
        width: 99.9%;
        height: 100px;
        background-color: rgba(255,255,255,0.3);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .play-again-container{
        display: flex;
        justify-content: center;
    }

    .play-again-btn{
        margin-top: 2%;
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }
    div.giphy-embed1{
        text-align: center;
        margin: 30% 0;
     }

     h2.correct-heading{
         padding-left: 5%;
         background-color: rgba(255, 255, 255, 0.20);
        }

    h2.incorrect-heading{
         padding-left: 5%;
         background-color: rgba(255, 255, 255, 0.20);
    }
 
     iframe{
         opacity: 0.85;
     } 
}

@media screen and (max-width: 340px){
    body {
        background: url('https://images.unsplash.com/photo-1521985429101-21bed8b75e47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat fixed center;
        color: #fff;
        height: auto;
    }
    .btn-flex-container {
        padding-bottom: 50px;
    }
    div.heading-container{
        margin-top: 10%;
        margin-left: 5%;
    }

    .starting-heading{
        width: 250px;
        height: 220px;
        font-size: 28px;
        line-height: 1.5;
    }

    /* button.next-question{
        pointer-events: none;
        opacity: 0.5;
    } */


    div.btn-flex-container{
        margin-top: 20%;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    button.click-to-start-btn{ 
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 30px;
        font-weight: 600;
        font-size: 20px;
        border: 0;
    }

    .question-score-count-section{
        background-color: rgba(0, 0, 0, 0.20);
        font-size: 14px;
    }

    .question-count,.score-count{
        padding-left: 2%;
    }

    h3.question{
        padding: 2%;
        padding-top: 18px;
        background-color: rgba(0, 0, 0, 0.40);
        font-size: 20px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 0px;
    }
    .answerOption{
        display: flex;
        align-content: center;
        padding: 2%;
        padding-top: 10px;
    }
    .option-1,.option-2,.option-3,.option-4{
        background-color: rgba(255, 255, 255, 0.50);
        width: 80%;
        margin: 0 0 0 5px;
        padding: 10px;
        border-radius: 2%;
        font-size: 16px;
    }

    input[type="radio"]{
        margin-top: 12px;
    }

    .next-ques-btn-container{
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .next-question{
        border-radius: 8%;
        background-color: #ff3823;
        color: #fff;
        padding: 12px 20px;
        font-weight: 600;
        font-size: 16px;
        border: 0;
    }
}

